version: "3.8"

services:
  api-gateway:
    build: ./api_gateway_service
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - USER_SERVICE_URL=http://user-service:8081
    depends_on:
      - user-service

  user-service:
    build: ./user_service
    ports:
      - "8081:8081"
    environment:
      - PORT=8081
    volumes:
      - ./user_service:/app
      - /app/node_modules # tránh node_modules của host ghi đè
    command: npm start
